*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    background-color: rgb(156, 226, 226);
}
h1
{
    padding: 20px;
    margin:20px;
}
.about{
    display:flex;
    font-size: 1.2rem;
    gap:20px;
}
span,a{
    color: #c00a0c;
}
.desc{
    width: 460px;
    font-size: 1.1rem;
    margin: 20px;
}   
img{
    margin: 20px;
    width: 200px;
}
#p1
{

    font-size: 1.5rem;
    margin:20px;
}
#p2
{
    font-size: 1.5rem;
    margin:20px;
}
ol
{
    margin: 20px;
    mar
}
ul
{
    margin: 20px;
}
