*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
}
img{
    width: 300px;

}
.div-1,.div-2{
    display: flex;
    
   gap: 20px;
}
p{
    padding-top:10px ;
}
