*
{
margin: 0px;
padding: 0px;
}
    
    body
{
    margin-top:20px;
    padding:0px;
background-color: beige;
background: linear-gradient(to right, #ffecd2, #fcb69f);
}
#h1{
    color:rgb(7, 93, 7);
    background-color: rgb(209, 235, 226);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin:0px;
    border: 2px solid black;
   text-transform:uppercase;
   text-shadow:5px 3px 4px rgb(176, 207, 36);
    word-spacing: 20px;
    letter-spacing: 5px;
    font-weight: bolder;

}
.a{
    color:#c36478;
    font-size: 80px;
    font-family: "Dancing Script", cursive;    padding: 0px;
    font-weight: 900;
    margin-top: 30px;
    line-height: 60%;
    text-align: center;
      position:relative;
    
}
#a{
    color:red;
    font-size: 20px;
    font-family: "Roboto Slab", serif;    padding: 0px;
    left: 60px;
}
#p1
{
    color:rgb(148, 175, 78);
    font-size: 20px;
    font-family: "Roboto Slab", serif;    padding: 0px;
    letter-spacing: 0px;
}

.box-container {
    display: flex; /* Use flexbox for layout */
}

/* CSS to style each box */
.box {
    width: 200px; /* Set the width */
    height: 200px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Set the border */
    border-radius: 8px; /* Set the border radius for rounded corners */
    padding: 20px; /* Set padding inside the box */
    margin: 20px; /* Set margin around the box */
}
#u
{
    padding:50px;
}
.container {
    position: relative; /* Position the container */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
}

/* CSS to style the image */
.img {
    position: absolute; /* Position the image absolutely */
    top: 62%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Adjust position to center the image */
    width: 25vw; /* Set width of the image */
    height: 60vh; /* Set height of the image */
    /* Additional styles */
    border: 2px solid black; /* Add border for visibility */