*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: white;

}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
