*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color:#e3e6e6 ;

}
.cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin: 20px;
}