*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    background-color: #111;

}
h2{
    color: red;
    margin: 10px;

}
input
{
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
}
button
{
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red;
    color: white;
}

