*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10px;
    text-align: center;
}
table
{
    border: 2px solid black;
    text-align: center;
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
    box-shadow:  0 0 20px 0 rgba(211, 23, 23, 0.1);
}
th,td
{
    border: 2px solid black;
    padding: 10px;
    font-size: 1.2em;
    font:bolder;
}
th
{
    background-color: #eec5c5;
}
tr
{
    background-color: #b5cae7;
}