*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    font-size:large;
}
.heading
{
    color: #f05537;
    font-size: 1.5rem;
}

.display-5,.display-6
{
    font-size: 1.5rem;
}

