*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 400px;
}
h1
{
    font-size:large;
}
.heading
{
    color: #f05537;
    font-size: 1.5rem;
}
.star
{
    width: 90px;
}
.btn
{
    background-color: #eceb98;
}
.display-5,.display-6
{
    font-size: 1.5rem;
}
.employee
{
    
}