*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;


}
nav {
    background-color:transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;


}
nav .com1
{
    display: flex;
    justify-content: space-between;
}
nav li
{
margin-top: 5px;
margin-bottom: 20px;

}

.logo
{
    width: 80px;
    height: 30px;
    padding: 4px;
    margin-left: 20px;
    margin-right: 40px;

}
.navli
{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 5px;
    padding: px;
    

}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 20px;

}
.dropdown 
{
    margin-right: 10px;
}
 nav ul a
 {
      margin-left: 20px;
        text-decoration: none;
 }   
.container
{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;

}
.container .heading{
margin-top: 80px;
font-size: 4.6rem;

}
.para{
    font-size: 1rem;
}
.container ,.heading, .para {
    margin-left: 30px;
}
.container article{
    margin-top: 30px;
    margin-left: 40px;
}
.container img{
    max-width: 550px;
    margin-top: 55px;
    margin-right: 50px;

}
.email
{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.5rem;
}

.email input{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9.4px;
    font-size: 1rem;
    width: 200px;
    border: 1px solid #1f1f1f;
}
.email a{
    margin-left: -6.5px;
    text-decoration: none;
    margin-top: 20px;
    padding: 11.1px;
    width: 150px;
    font-size: 1rem;
    background-color: #1f1f1f;
    color: #ffffff;
}
.nextpage
{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: -70px;
 
}
.nextpage a{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;

    font-size: 2rem;
    color:black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.previouspage
{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: 60px;
 
}
.previouspage a{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    color:black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen  and (max-width: 830px )
{
 .navli {
    display:none ;
}
.navul
{
    margin-right:30px ;
}
nav .com1
{
      width: 40px;
}
}
@media screen and (min-width:501px) and (max-width: 600px){
 .container .heading{
    font-size: 3.5rem;
    margin-left: 60px;
 }
    .container .para{
        margin-left: 60px;
    }
    .container article{
        margin-left: 60px;
    }
    .container img{
        max-width:400px ;
        margin-left: 50px;
        margin-right: 20px;
    }
    .email
    {
        margin-left: 60px;
    }
    .email input{
        width: 150px;
    }
    .email a{
        width: 100px;
    }

}
@media screen and (max-width: 500px){
    .container .heading{
        font-size: 2.5rem;
        margin-left: 20px;
    }
    .container .para{
        margin-left: 20px;
    }
    .container article{
        margin-left: 20px;
    }
    .container img{
        max-width: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .email
    {
        margin-left: 20px;
    }
    .email input{
        width: 150px;
    }
    .email a{
        width: 80px;
    }
    .navul{
        margin-right: -10px;
    }
    .nextpage
{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: -50px;
 
}
.nextpage a{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;

    font-size: 1rem;
    color:black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.previouspage
{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: 60px;
 
}
.previouspage a{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color:black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
}
