*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;


}
nav {
    background-color:transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;


}
nav .com1
{
    display: flex;
    justify-content: space-between;
}
nav li
{
margin-top: 5px;
margin-bottom: 20px;

}

.logo
{
    width: 80px;
    height: 30px;
    padding: 4px;
    margin-left: 20px;
    margin-right: 40px;

}
.navli
{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 5px;
    padding: px;
    

}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 20px;

}
.dropdown 
{
    margin-right: 10px;
}
 nav ul a
 {
      margin-left: 20px;
        text-decoration: none;
 }   
.container
{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;

}
.container .heading{
margin-top: 80px;
font-size: 4.6rem;

}
.para{
    font-size: 1rem;
}
.container ,.heading, .para {
    margin-left: 30px;
}
.container article{
    margin-top: 90px;
    margin-left: 40px;
}
.container img{
    max-width: 550px;
    margin-top: 55px;
    margin-right: 50px;

}
.email
{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.5rem;
}
/* .email input{
    width: 280px;
    height: 45px;
    border: 2px solid black;
}
.email a{
    width: 100px;
    height: 45px;
    top: 0.5px;
    margin-top: -0px;
    padding: 10px;
    margin-left: -6.5px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
} */
.email input{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9.4px;
    font-size: 1rem;
    width: 200px;
    border: 1px solid #1f1f1f;
}
.email a{
    margin-left: -6.5px;
    text-decoration: none;
    margin-top: 20px;
    padding: 11.1px;
    width: 150px;
    font-size: 1rem;
    background-color: #1f1f1f;
    color: #ffffff;
}
@media screen  and (max-width: 830px )
{
 .navli {
    display:none ;
}
.navul
{
    margin-right:30px ;
}
nav .com1
{
  
    width: 40px;
}
}