*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ff0000;
}
nav
{
    background-color:white;
    width: 100%;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     font-size: 1.3rem;
     color: #ff0000;
}
.box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
 .size1
{
    font-size: 3.3rem;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
    width: 70%;
}
.size12
{
    font-size: 1rem;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img
{
    
    width: 300px;
    height: 300px;
    margin :0 40px 40px;
    
}
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr; 
    column-gap: 10px;
    row-gap: 10px;
    position: relative;
    margin: 10px;
    
}
.box1
{
    
    color: aliceblue;
    background-color: #571212;
    border: 1px solid black;
    padding:  50px 10px;
    grid-column: 1/2;
    grid-row: 1/1;
}
.box2
{
   
    background-color: #571212;
    color: aliceblue;
    border: 1px solid black;
    padding:  50px 10px;
    grid-column: 2/3;
    grid-row: 1/1;
}
.box3
{
    color: aliceblue;
    background-color: #571212;
    border: 1px solid black;
    padding:  50px 10px;
    grid-column: 3/3;
    grid-row: 1/1;
}
.container .grp{
    font-size: 1.5rem;

}
.size3
{
    font-size: 0.8rem;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    
}
article
{
    font-size: 0.8rem;
    color:white;
    padding: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 576px){
    .size1
    {
        font-size: 1.5rem;
    }
    .size3
    {
        font-size: 0.5rem;
    }
    .box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box1,.box2,.box3
    {
        margin: 10px;
    }
    img
    {
        width: 200px;
        height: 200px;
    }
    article
    {
        font-size: 0.5rem;
        margin-left: 0px;
    }
}