*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
   width: 400px;
    height: auto;
    margin-top: 25px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
}
h2{
    color: black;
    padding: 10px;
}
p
{
    color: black;
    padding: 10px;
}

img
{
    width: 250px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin:0  50px;

}
