*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card
{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}