*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main
{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    transform: translate(0%, 25%);
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
body
{
background-color: aliceblue;}
.employee
{
    width:350px;
    height: 490px;
text-align: center;
    padding: 50px;
    background-color :#f74d80;
    box-shadow: 5px 5px 5px 5px rgb(85, 49, 49);
}
.header
{
   background-color:rgb(84, 176, 176);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

}
img
{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-bottom: 10px;
}
.header ul{
    display: flex;
width: 600px;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
.name
{
    font-family: "Dancing Script", cursive;    padding: 0px;
    font-size: 2rem;
    color: white;
}

.footer
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(84, 176, 176);
    padding: 50px;
}
.profile{
    background-color: #443d99;
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: end;
    width: 60%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
}

.next
{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    text-decoration: underline;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    
}
.next:hover
{
    color: black;
}