*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main
{
    display: flex;
    flex-direction: row;
    transform: translate(0%, 25%);
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
body
{
background-image: url(https://img.freepik.com/free-vector/flat-tropical-leaves-background_23-2148953892.jpg);}
.employee
{
    width:250px;
    height: 350px;
text-align: center;
    padding: 50px;
    background-color :#F4BB44;
    box-shadow: 5px 5px 5px 5px rgb(85, 49, 49);
}
.header
{
   background-color:rgb(84, 176, 176);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

}
img
{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin-bottom: 10px;
}
.header ul{
    display: flex;
width: 600px;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
.name
{
    font-family: "Dancing Script", cursive;    padding: 0px;
    font-size: 2rem;
    color: white;
}
.about,.intrest
{
    
    font-size: 1rem;
    margin-top:15px;
   
    color: white;
}
.previous
{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    text-decoration: underline;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    
}
.previous:hover
{
    color:white;
}
