*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background-color: #f7dfe2;
    font-family: 'Poppins', sans-serif;
       overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 50px auto;
    max-width:900px;
    background-color: white;
    border-radius:10px ;
    box-shadow: 2px 2px 5px grey;
}
.left-container
{
    width: 50%;
    height: 100%;
    margin: auto 0px;
    position: relative;
        padding: 20px;
 


}
.logins
{
 text-align: center;
}
#login
{
    padding-top: 60px;
    padding-bottom: 20px;
}
.facebook
{
    width: 50px;
    border: solid black 2px ;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    padding: 10px;
}
.twitter
{
    padding:30px 0px;
    text-align: center;
}
.other
{
    text-align: center;
}
#email, #password
{
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.details
{
    text-align: center;
}
#forgot
{
    color: #ff264f;
    text-decoration: none;

}
.forgot
{
    text-align: center;

}
#submit
{
    width: 40%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius:25px;
    background-color: #ff264f;
    color: white;
    font-weight: bold;

}
.submit
{
    text-align: center;
}
.right-container
{
    width: 50%;
    height: 100%;
    margin: 0px;
    position: relative;
  
    padding: 20px;
    background-color: #ff264f;
}
.right-container
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.html
{
    padding-top: 150px;
    text-align: center;
}
#html
{
    font-size: 50px;
    color: white;
}
.css
{
    padding-top: 20px;
    text-align: center;
}
#css
{
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 600px)
{
    .container
    {
        margin:20px 20px;
    }
    .left-container
    {
        width: 100%;
        height: 100%;
        margin: auto 0px;
        position: relative;
        
        padding: 20px;
     
    
    }
    .right-container
    {
        display:none ;
    }
}